<!DOCTYPE html >
{% load static %}
<link rel="stylesheet" href="{% static 'css/questionnaire.css' %}">

<html>
    <head>
        <title>Street Art Survey</title>
    </head>
    <body>
        <div id='white_center'>
            <div id='logos'>
                <img src= "{% static 'questionnaire/geography_logo.jpg' %}" height="70">       
                <img id='oxford_logo' src= "{% static 'questionnaire/oxford_logo.jpg' %}", alt="Oxford Logo" height="75">
            </div>
            <div id='contact_info'>
                <p id='my_name'>Estelle Hlustik-Smith</p>
                <p id='my_email'>estelle.hlustik-smith@st-annes.ox.ac.uk</p>
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
