{% extends 'questionnaire/base.html' %}
{% load static %}

{% block body %}
    <div id='project_title'>
        <h1>The removal of street art from the street: <br>the transformation of the playful politics of place</h1>
    </div> 
    <div>
        <p>
            I am Estelle Hlustik-Smith, an undergraduate Geography student at the University of Oxford. 
            For my dissertation I am investigating perceptions surrounding street art and would be very grateful if you could complete my 5-15 min survey on the topic. You do not need to have any artistic background or even like street art, all opinions are welcome. 
            Please read the information sheet and consent form below and then proceed to the questions. 
            Thank you very much for your time. 
        </p>
    </div>
    <div id='interview'>
        <p id='interview_text'>If you are interested in partaking in a virtual interview about the topic, instead of the survey, please press the button here</p>
        <button id="link_to_interview">
            <a href="{% url 'interview' %}" class="internal_link" >Interview</a></p>
        </button>
    </div>

    <div>
        <h2>Participant Information</h2>
        <p>Ethics Approval Reference: [Insert]</p>
    </div>
    <div>        
        <p><b>1. What is the purpose of this research? </b><br>I am conducting research for my undergraduate geography dissertation. I aim to explore how the political implications, emotive impacts and value of street art are perceived to be transformed and compromised when it is removed from the street and displayed elsewhere. I shall explore this through the case study of ‘Big Mother’ by STIK.</p>
        <p><b>2. Why have I been invited to take part?</b><br>You have been invited to take part to gauge the public perceptions and reactions to street art. Everyone, over 18, is welcome to participate, regardless of knowledge or interest in the subject.</p>
        <p><b>3. Do I have to take part?</b><br>No.  You can ask questions about the research before deciding whether or not to participate by contacting estelle.hlustik-smith@st-annes.ox.ac.uk. If you do agree to participate, you may withdraw from the study at any time, without giving a reason, by closing your web browser window before pressing submit or advising the researchers of this decision.</p>
        <p><b>4. What will happen to me if I take part in the research?</b><br>If you are happy to take part in the research please read the consent form carefully, tick the associated checkboxes and press ‘Accept and Continue’ to proceed to the survey. The survey will take 5-15 mins, depending on the length of your responses. </p>
        <p><b>5. Are there any potential risks in taking part?</b><br>There are no potential risks in taking part. </p>
        <p><b>6. Are there any benefits in taking part?</b><br>There will be no direct benefits, however, hopefully you will find it an interesting exercise.</p>
        <p><b>7. What happens to the data provided? </b><br>The information you provide as part of the study is the research data.  Any research data from which you can be identified is known as personal data. We will minimise our use of personal data in the study as much as possible. If you chose to provide personal data as part of your responses, you will be anonymised, with identifying information stored separately from the rest of the response. All data will be stored securely and confidentially in encrypted and password protected folders on the University of Oxford servers. The researcher and supervisor will have access to all research data. Anonymised direct quotes may be used in the write up. All research data and records will be stored for at least 3 years after publication or public release of the work of the research.</p>
        <p><b>8. Will the research be published?</b><br>The research will be written up as a thesis. On successful submission of the thesis, it will be deposited both in print and online in the University archives, to facilitate its use in future research. The thesis will be openly accessible. </p>
        <p><b>9. Who is organising and funding the research? </b><br>The project is organised and self-funded by Estelle Hlustik-Smith, an undergraduate student at the School of Geography and the Environment at the University of Oxford and supervised by Dr Janet Banfield.</p>
        <p><b>10. Who has reviewed this study?</b><br>This study has been reviewed by, and received ethics clearance through, the University of Oxford Central University Research Ethics Committee (Reference number: SOGE1A2020-107).</p>
        <p><b>11. Who do I contact if I have a concern about the study or I wish to complain?</b><br>If you have a concern about any aspect of this study, please speak to the relevant researcher [estelle.hlustik-smith@st-annes.ox.ac.uk] or their supervisor [janet.banfield@hertford.ox.ac.uk], who will do their best to answer your query. The researcher should acknowledge your concern within 10 working days and give you an indication of how they intend to deal with it. If you remain unhappy or wish to make a formal complaint, please contact the relevant chair of the Research Ethics Committee at the University of Oxford who will seek to resolve the matter in a reasonably expeditious manner:<br>Chair, Social Sciences & Humanities Inter-Divisional Research Ethics Committee; Email: ethics@socsci.ox.ac.uk; <br>Address: Research Services, University of Oxford, Wellington Square, Oxford OX1 2JD</p>
        <p><b>12. Data Protection</b><br>The University of Oxford is the data controller with respect to your personal data, and as such will determine how your personal data is used in the study. The University will process your personal data for the purpose of the research outlined above.  Research is a task that we perform in the public interest. Further information about your rights with respect to your personal data is available <a id='hyperlink' href="http://www.admin.ox.ac.uk/councilsec/compliance/gdpr/individualrights/.">here.</a></p> 
        <p><b>13. Further Information and Contact Details</b><br>If you would like to discuss the research with someone beforehand (or if you have questions afterwards), please contact:<br>Estelle Hlustik-Smith<br>estelle.hlustik-smith@st-annes.ox.ac.uk<br>School of Geography and the Environment,<br>South Parks Rd, Oxford. OX1 3QY </p>
        <p> <br></p>
    </div>
    <div>
        <h2>Participant consent form </h2>
    </div>
    <div id='consent'>
        <form method="POST" class="Consent">{% csrf_token %}
            {{ form.as_p }}
            </div>
            <button type="submit">Accept and continue</button>
        </form>
    </div>
    <!--<div>
        <button>
            <a href="{% url 'questionnaire' %}">Accept and continue</a>
        </button> -->
        <!--<p><a href="{% url 'questionnaire' %}" class="internal_link" id="link_to_response_form">Accept and continue</a></p>-->
    <!--</div> -->
{% endblock %}