{% extends 'questionnaire/base.html' %}
{% load static %}

{% block body %}
    <div id='project_title'>
        <h1>The removal of street art from the street: <br>the transformation of the playful politics of place</h1>
    </div>   
    <div id='error' class="error-message">
        <span class="error-text">Please complete all the questions</span>
    </div>  
    <div id='max_length' class="error-message">
        <span class="error-text">Your response is too long. Character limit is 2000.</span> 
    </div>
    <div id='video'>
        <iframe src="https://giphy.com/embed/KeidxPJOMvfl53VlD5" width="571" height="299" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> 
    </div> 
    <p id='test'>To what extend do you agree with each statement. Please rank on a scale of 1 to 5, with 1 being not at all and 5 being fully.</p>
    </script>
    <p id="canvas_p">Draw a frame around what you think encompasses the artwork or where the boundary of the artwork might be. 
        <br>You can use the ‘Change background’ button to decide which image of the artwork to use. 
        <br>Draw by clicking and dragging your mouse. If you wish to reset the image, click the ‘Clear’ button.
    </p>
    <p id='canvas_p2'>
        This work is called ‘Big Mother,’ painted by the well renowned London street artist STIK in 2014. The large mural depicts STIK’s distinctive stick figures of a mother, holding her child, with a replica of the larger work at street level. ‘Big Mother’ represents vulnerable families and the need for public housing. The work was part of a wider project by ARTification, a local arts and community charity, to bring creativity to neglected parts of the estate. It was painted on the side of Charles Hocking House on the South Acton Estate, London which was destined for demolition and regeneration. In 2018, the building was demolished and with STIK’s support, a section including the smaller figures were salvaged by ARTification and placed for auction at Philips. The work sold for £193,750, seven times its pre-sale estimate, with the profits going to ARTification.
	    <br><br>If you would now like to change where you would draw the frame encompassing the artwork please redraw it on the image below. 
        <br>You can use the ‘Change background’ button to decide which image of the artwork to use. Draw by clicking and dragging your mouse. If you wish to reset the image, click the ‘Clear’ button. 
    </p>
    <p id='submit_p'>
        Please click the submit button to finish. 
    </p>
    <div id="drawing">
        <div id="canvas-holder">
            <canvas id="canvas"></canvas>
        </div>
        <div id='clear'>
            <button id="clear_btn", onclick="clearCanvas()">Clear</button>
        </div>
        <div id=change_background>
            <button id="change_background_btn", onclick="changeBackground()">Change image</button>
        </div>
    </div>
    <img id="building_img" src="{% static 'questionnaire/building.jpg' %}" alt="building">
    <img id="gallery_img" src="{% static 'questionnaire/gallery.jpg' %}" alt=gallery>
    <div>
        <form method="POST" class="ResponseForm">{% csrf_token %}
            {{ form.as_p }}
            </div>
        <div id='submit'>
            <button id="submit_btn", type="submit">Submit</button>
        </div>
        <button id="sectionb1_btn", type="button" onclick="SectionB1()">Continue</button>
        <button id="sectionb2_btn", type="button" value="0", onclick="SectionB2(); changeSection(this.value);">Continue</button>
        <button id="sectionb3_btn", type="button" value="1", onclick="SectionB3(); changeSection(this.value);">Continue</button>
        <button id="sectionb4_btn", type="button" onclick="SectionB4()">Continue</button>
        <button id="sectionb4_5_btn", type="button" value="2", onclick="SectionB4_5(); changeSection(this.value);">Continue</button>
        <button id="sectionb5_btn", type="button" onclick="SectionB5()">Continue</button>
        <button id="finish", type="button" onclick="Finish()">Continue</button>

    </form>
    <script type="text/javascript" src="{% static 'js/question_script.js' %}"></script>
    <script>
        var images = [
            '{% static "questionnaire/canvas_background.png" %}', //0
            '{% static "questionnaire/canvas_background1.png" %}', //1
            '{% static "questionnaire/canvas_background2.png" %}', //2
            '{% static "questionnaire/canvas_background3.jpg" %}', //3
            '{% static "questionnaire/canvas_background4.jpg" %}', //4
        ];
        var section_images = {
            "0": [
                images[0],
                images[1],
                images[2],
            ],
            "1": [
                images[0],
                images[1],
                images[2],
            ],
            "2": [
                images[3],
                images[4],
        ]
        };  

        var current_section;

        function preloadImages(array) {
            var count = 0;
            if (!preloadImages.list) {
                preloadImages.list = [];
            }
            var list = preloadImages.list;
            for (var i = 0; i < array.length; i++) {
                var img = new Image();
                img.onload = function() {
                    count += 1;
                    //if (count == array.length) {
                    //    setBackground('{% static "questionnaire/canvas_background.jpg" %}')
                    //}
                }
                list.push(img);
                img.src = array[i];
            }    
        }

        preloadImages(images);

        var drawing_fields = [
            document.getElementById("id_drawing_0"),
            document.getElementById("id_drawing_1"),
            document.getElementById("id_drawing_2"),
        ];
        // get canvas
        var canvas = document.getElementById("canvas")

        // get canvas 2D context and set him correct size
        var ctx = canvas.getContext('2d');

        var background_num = 0;

        // last known position
        var pos = { x: 0, y: 0 };

        document.addEventListener('mousemove', draw);
        document.addEventListener('mousedown', setPosition);
        document.addEventListener('mouseup', save);
        document.addEventListener('mouseenter', setPosition);
        document.addEventListener('mouseleave', save);

        function changeSection(section_num) {
            current_section = section_num;
            setBackground(section_images[current_section][0])
            background_num = 0
        }

        function changeBackground() {
            background_num += 1;
            if (background_num == section_images[current_section].length) {
                background_num = 0;
            }

            setBackground(section_images[current_section][background_num]);
        }

        function clearCanvas() {
            setBackground(section_images[current_section][background_num]);
        }

        function setBackground(url) {
            var background = new Image();

            background.onload = function(){
                ctx.drawImage(background,0,0);   
            };
            background.src = url;

            canvas.width = background.width;
            canvas.height = background.height;

            ctx.canvas.width = canvas.width;
            ctx.canvas.height = canvas.height;
        }

        // new position from mouse event
        function setPosition(e) {
            var rect = canvas.getBoundingClientRect();
            pos.x = e.clientX - rect.left;
            pos.y = e.clientY - rect.top;
        }

        function draw(e) {
            // mouse left button must be pressed
            if (e.buttons !== 1) return;

            ctx.beginPath(); // begin

            ctx.lineWidth = 5;
            ctx.lineCap = 'round';
            ctx.strokeStyle = '#000000';

            ctx.moveTo(pos.x, pos.y); // from
            setPosition(e);
            ctx.lineTo(pos.x, pos.y); // to

            ctx.stroke(); // draw it!
        }

        function save(e) {
            //var img_data = ctx.getImageData(0, 0, canvas.width, canvas.height);
            var img_data = canvas.toDataURL("image/png")
            //console.log(img_data);

            drawing_fields[current_section].value = img_data;
        }

    </script>
    </div>
{% endblock %}
